:root{
  /* colors */
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --neutral-main-bg: hsl(217, 54%, 11%);
  --neutral-card-bg: hsl(216, 50%, 16%);
  --neutral-line: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-family: 'Outfit', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
}

body{
  min-height: 100vh;
  background-color: var(--neutral-main-bg);
  display: grid;
  grid-template-rows: 1fr auto;
  color: var(--primary-soft-blue)
}

main{
  display: grid;
  place-content: center;
  padding: 1.4rem;
  font-family: var(--font-family);
  --para-font-size: 1.125rem;
}

/* card component */
.card{
  border-radius: 15px;
  overflow: hidden;
  padding: 1.4rem;
  font-weight: var(--fw-light);
  font-size: 1rem;
  background-color: var(--neutral-card-bg);
  max-width: 330px;
}

.card__text-section{
  display: grid;
  gap: .9rem;
  margin-top: 1.2rem;
}

.card__img-group{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card__img-overlay{
  position: absolute;
  inset: 0;
}

.card__img-overlay:hover, .card__img-overlay:focus{
  background: no-repeat center url(../images/icon-view.svg), hsl(178, 100%, 50%, .5);
}

.card__title{
  color: var(--neutral-white);
  font-size: 1.375rem;
}

.card__title:hover{
  color: var(--primary-cyan)
}

.card__flex-group{
  display: flex;
  justify-content: space-between;
}

.card__eth{
  display: flex;
  align-items: center;
  gap: .4rem;
  color: var(--primary-cyan);
  font-weight: var(--fw-semibold);
}

.card__eth::before{
  content:"";
  width: 11px;
  height: 18px;
  background-image: url(../images/icon-ethereum.svg);
}

.card__duration{
  display: flex;
  align-items: center;
  gap: .4rem;
}

.card__duration::before{
  content:"";
  width: 17px;
  height: 17px;
  background-image: url(../images/icon-clock.svg);
}

.card hr{
  color: var(--neutral-line);
}

.card__author-section{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__author-img{
  /* background-color: white; */
  border-radius: 50%;
  border: white solid 1.5px;
  width: 12.5%;

}

.card__author a{
  color: var(--neutral-white);
  cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
